@import "skeleton-flexbox/skeleton-flexbox.min.css";
/* @import "skeleton.css"; */

.form {
    text-align: center;
}

.flash {
    text-align: center;
}

.login-header {
    text-align: center;
}

.header-divider {
    margin-top: 0rem;
}

a.subtle-link {
    color: #222;
    text-decoration: none;
}

a.subtle-link:hover {
    text-decoration: underline;
}

.was-read {
    opacity: 0.5;
}

.author {
    color: #808080;
}

.comic-title {
    margin-bottom: 0;
}

header {
    margin-bottom: 2rem;
}
